@font-face {
  font-family: 'Geist Mono';
  src: url('./fonts/GeistMonoVF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
} 

@font-face {
    font-family: 'GeistVF';
    src: url('./fonts/GeistVF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

body {
  font-family: Geist Mono, GeistVF, Arial, Helvetica, sans-serif;
}